# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# OS metadata files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Data files (Recommended to exclude since they contain raw/sensitive revenue data and are large)
*.xlsx
*.xls
*.csv

# Excel temporary/lock files
~$*.xlsx
~$*.xls

# Exclude zip/rar archives (raw database zips)
*.zip
*.rar

# SQLite database files
*.db





